body{
    margin: 0;
}
.divIntro{
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 15px;
    align-items: center;
    text-align: justify;


}
h1{
    margin-left: 20px;
}
.Navbar
{
    border-style: double; 
    border-width: 4px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.Options
{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
p{
    padding: 9px;
    border-radius: 9px;
}
.Elements:hover
{
    background-color: rgb(134, 171, 171);
}
.Skill
{
    font-size: large;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.Skill2{
    border-width: 20px;
    background-color: aqua;
    padding: 1px;
    margin: 0;
    border-radius: 5px;
}
li{
    padding: 8px;
}
.Education
{
    border-width: 20px;
    background-color: aqua;
    padding: 1px;
    border-radius: 5px;
}
.EducationIntro
{
    font-size: large;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
}
.Exp
{
    border-width: 20px;
    background-color: aqua;
    padding: 1px;
    border-radius: 5px;
}
.ExpIntro
{
    font-size: large;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;

}
.Contact
{
    border-width: 20px;
    background-color: aqua;
    padding: 1px;
    border-radius: 5px;
    
}
.Contact1
{
    font-size: large;
    background-color: antiquewhite;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
.User
{
    padding-top: 2%;
    background-color: antiquewhite;
    display: flex;
}
.Bg
{
    background-color: antiquewhite;
}
.Contactform
{
    width: 25%;
    padding: 10px;
    background-color: #f6f1f1;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}
.Contactform h2
{
    font-size: 30px;
    color: #070303;
    font-weight: 500;
}
.Contactform .inputbox
{
    position: relative;
}
input
{
    width: 250px;
    padding: 5px;
}
#p1
{
    width: 30%;
}
.info
{
    display: flex;
    justify-content: space-between;
}
@media (max-width:500px) {
        
    .Options{
        display: flex;
        flex-direction: column;
    }
    .divIntro
    {
        display: flex;
        flex-direction: column;
    }
    .Skill
    {
        display: flex;
        flex-direction: column;
    }
    .Skill ul
    {
        display: flex;
        justify-content: space-evenly;
    }
    .info
    {
        display: flex;
        flex-direction: column;
    }
    .Contactform
    {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #p1
    {
        width: 80%;
    }
    .Options
{
    display: flex;
    justify-content: space-evenly;
}
}